@import "../../../../../styles/variables";
@import "../../../../../styles/media";
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  // ITS BORDER BOTTOM IS IN THE MAIN FEED
    border-bottom: 1px solid $container-line;
}

.tab{
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selectedText{
  width: 70px;
  border-bottom: 2px solid $primary-main;
  padding-top: 16px;
  padding-bottom: 24px; // gap between text and underline
}

.unselectedText{
    width: 70px;
    padding-top: 16px;
    padding-bottom: 24px; // gap between text and underline
    color: $text-2;
}

