@import "../../styles/variables.scss";
@import "../../styles/media.scss";

.container{
  display: flex;
  flex-direction: column;
  gap:16px;
  font-size: 15px;
  height: 100%;
  min-height: 100vh;
  cursor: default; // as showed in Figma
  width: $main-width;
}

.header {
  position: sticky; // no está andando como quiero
  top: 0;
  width: $main-width;
  background-color: $white;
  z-index: 1;
}

.pageName {
  padding: $main-padding;
}

.content{
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: calc(100% - $avatar-primary-size - 8px); /* Limita el ancho del texto */
  padding-left: $avatar-primary-size + 8px;
}

.actions{
  display: flex;
  align-items: center;
  padding-left: $avatar-primary-size + 8px;
}


@include tablet {
  .container {
    width: 100%;
    border: none;
  }
  .header {
    width: 100%;
  }
}