@import "../../../styles/variables.scss";
.container{
  display: flex;
  flex-direction: row;
  gap: 24px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  user-select: none; // para que no te agarre el like cuando lo apretás.
}

.comment{
  @extend .container;
  color: $text-2;

}

.retweet{
  @extend .container;
  color: $primary-main;
}

.noRetweet{
  @extend .container;
  color: $text-2;
}

.like{
  @extend .container;
  color: $red;
}

.noLike{
  @extend .container;
  color: $text-2;
}