@import "../../../../../styles/variables";

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: $right-home-padding;
  border-radius: 16px;
  width: $right-home-width - $right-home-padding*2;
  background-color: $inactive-bg;
}

.showMore{
  padding: 8px;
  font-weight: 400;
  font-size: 15px;
  color: $primary-main;
}