@import "../../../../../../styles/variables";

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.username{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.atName{
  font-size: 16px;
  font-weight: 300;
  color: $text-2;
}

.button{
  width: 82px;
}