@import "../../../../styles/variables.scss";
@import "../../../../styles/media.scss";
.container {
  display: flex;
  flex-direction: column;
  width: $main-width;
  border-right: 1px solid $container-line;
  border-left: 1px solid $container-line;
}

.header {
  position: sticky; // no está andando como quiero
  top: 0;
  width: $main-width;
  background-color: $white;
  z-index: 1;
}

.pageName {
  padding: $main-padding;
}

.innerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: $main-width;
}

.responsiveTitle {
  display: none;
}

@include tablet {
  .container {
    width: 100%;
    border: none;
  }

  .innerContainer {
    width: 100%;
  }

  .header {
    width: 100%;
  }

  .pageName {
    display: none;
  }

  .newTweet {
    display: none;
  }

  .responsiveTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $main-padding;
  }

  .image {
    justify-content: center;
    align-items: center;
    width: 24px;
    height: auto;
  }

  .emptyDiv {
    width: 48px;
  }
}
