@import "../../../../styles/variables.scss";


.container{
  position: absolute;
  display: flex;
  flex-direction: column;
  // Width en Figma es 332px, pero restandole los paddings de los costados es 300px
  // Haciendo regla de 3 simples: 19.8%
  // aunque, pensandolo bien, y viendo como hace twitter real, el tamaño de la sidebar es FIJO.
  width: $main-width;
  border-right: 1px solid $container-line;
  border-left: 1px solid $container-line;
  height: 100%; // Borrar en un futuro
}

.header{
  padding: $main-padding;
  width: $main-container-width;
}

.tab{
}