.iconContainer {
  justify-content: center;
  align-items: center;
  overflow: hidden; // So the image is clipped to the container
}

.iconImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
