@import "../../styles/media";

.container{
  width: 100%;
  padding: 16px;
}


.container:hover {
  cursor: pointer;
}

.icon{
  width: 24px;
  height: auto;
}

.unselectedText{
    font-size: 20px;
}


.button{
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@include responsive-1{
  .unselectedText, .selectedText{
    display: none;
  }
}

@include tablet{
  .container{
    width: auto;
  }
  .button{
    width: 24px;
  }
}