@import "./../../styles/media.scss";
@import "./../../styles/variables.scss";

.container{
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 16px;
  // Width en Figma es 332px, pero restandole los paddings de los costados es 300px
  // Haciendo regla de 3 simples: 19.8%
  // aunque, pensandolo bien, y viendo como hace twitter real, el tamaño de la sidebar es FIJO.
  width: $sidebar-width;
  padding: $sidebar-padding $sidebar-padding 0 $sidebar-padding;
  z-index: 1;
}

.imageContainer{
    width: 56px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    width: 20px;
    height: auto;
}

.icons{
    display: flex;
    flex-direction: column;
}

.textButton{
  width: 100%;
}
.logoButton{
  display: none;
}


@include responsive-1{
  .container{
    width: $icon-size;
  }
  .textButton{
    display: none !important;
  }
  .logoButton{
    display: inline;
    padding: 16px;
    height: 24px;
    width: 24px;
  }
}

