@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

p, h1, h2, h3, h4, h5, h6 {
  font-family: Inter, sans-serif;
}

p {
  margin: 0;
  padding: 0;
  width: fit-content;
  line-height: normal;
  text-overflow: ellipsis;
}

.h1 { font-size: 56px; }
.h2 { font-size: 44px; }
.h3 { font-size: 32px; }
.h4 { font-size: 25px; }
.h5 { font-size: 20px; }
.h6 { font-size: 18px; }

.sub1 { font-size: 18px; }
.sub2 { font-size: 16px; }

.body1, .body1bold { font-size: 16px; }
.body2, .body2bold { font-size: 14px; }

.h1, .h2, .h5 { font-weight: 700; }
.body1bold, .body2bold { font-weight: 600; }
.h3, .h4, .h6 { font-weight: 500; }
.body1, .body2, .body3 { font-weight: 400; }
.sub1, .sub2 { font-weight: 300; }
