@import "../../../styles/variables.scss";

.user{
  display: flex;
  flex-direction: row;
  gap: 17px;
}

.username{
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  flex-grow: 1;
  max-width: calc(100% - $avatar-primary-size - 8px); /* Limita el ancho del texto */
  overflow: hidden;
  font-size: 15px;
}

.atName{
  display: flex;
  gap: 8px;
  color: $text-2;
  font-weight: 400;
  font-size: 15px;
}
